/********************************
FINN PAGE STYLING
*********************************/
/********************************PICTURE*/
.jumbotron { 
    background-color: #339999; /*teal*/
    border-top: 3px solid #1F5C5C; /*darker teal*/
    border-bottom: 3px solid #1F5C5C; /*darker teal*/
    letter-spacing: 0.125rem;
}
.MainPhoto {
    border: 3px solid #1F5C5C; /*darker teal*/
}
img {
    border: 1px solid #1F5C5C; /*darker teal*/
}
/********************************COLORS*/
h2,
.section a:hover,
.social-media p,
.social-media a:hover {
    color: #1F5C5C; /*darker teal*/
}
.section a,
.section p,
.social-media a {
    color: #339999; /*teal*/
}
/********************************IMAGES*/
.section img {
    width: 12rem;
}
/********************************RECOMMENDATIONS*/
#finn-recs img {
    width: 100px;
    height: 100px;
    border: 1px solid #1F5C5C; /*darker teal*/
}
/********************************NAME GENERATOR*/
label {
    color: #1F5C5C; /*darker teal*/
    letter-spacing: 0.1rem;
}
#display-name {
    color: #339999; /*teal*/
    font-size: 2rem;
}
/********************************DRAW A TRUCK*/
/*CANVAS*/
canvas {
    width: 60%;
    border: 2px solid gray;
    border-radius: 30px;
    display: block;
    margin: 1% auto;
}
/*COLOR CHOICES*/
.controls ul li {
    height: 54px;
    width: 54px;
    border: 2px solid gray;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
}
/*COLORS*/
.black {
    background: #000;
}
.brown {
    background: #663300;
}
.yellow {
    background: #ECD13F;
}
.orange {
    background: #FF6600;
}
/*SELECTED COLOR*/
.controls .selected {
    border: 4px solid #339999;
    height: 52px;
    width: 52px;
}
.controls ul {
    margin: 0;
    padding: 0;
}
/********************************ANIMATION*/
.animate {
    position: relative;
    height: 2.5rem;
}
.street-sweeper,
.garbage-truck,
.fire-truck {
    width: 6rem;
    height: 5rem;
    border: none;
    position: absolute;
    left: 85%;
    bottom: 7.5%;
}
.street-sweeper {
    width: 6.5rem;
    animation: drive 10s linear infinite;
}
.fire-truck {
    animation: drive 10s linear 2.25s infinite;
}
.garbage-truck {
    animation: drive 10s linear 4.5s infinite;
}
@keyframes drive {
    0% {left: 85%}
    100% {left: 5%}
}