/********************************
FINN PAGE STYLING
*********************************/

/********************************PICTURE*/
#mainPic { 
    background-color: #339999; /*teal*/
    border-top: 3px solid #1F5C5C; /*darker teal*/
    border-bottom: 3px solid #1F5C5C; /*darker teal*/
    text-align: center;
}
.MainPhoto {
    border: 3px solid #1F5C5C; /*darker teal*/
}

/********************************FONTS*/
 #mainPic p {
    font-size: 3em;
    font-family: serif;
    letter-spacing: 0.1em;
    color: white;
    text-align: center;
 }
 .col-md-4 {
    padding: 1% 0;
    font-size: 1.25em;
    text-align: center;
 }

/********************************PADDING*/
 #mainPic p {
    padding-top: 3%;
 }