/********************************
FINN PAGE STYLING
*********************************/

/********************************PICTURE*/
#mainPic { 
    background-color: #339999; /*teal*/
    border-top: 3px solid #1F5C5C; /*darker teal*/
    border-bottom: 3px solid #1F5C5C; /*darker teal*/
    text-align: center;
}
.MainPhoto,
img {
    border: 3px solid #1F5C5C; /*darker teal*/
}

/********************************FONTS*/
h2 {
    text-align: center;
    color: #1F5C5C; /*darker teal*/
}
.flexbox p {
    color: #339999; /*teal*/
}
/********************************IMG*/
.flexbox img {
    width: 200px;
    height: 200px;
}

/********************************NAME GENERATOR*/
#nameGenerator {
    margin-top: 0.5em;
    padding: 0.5em 2em;
    border-radius: 30px;
    color: white;
    font-size: 1.25em;
    letter-spacing: 0.25em;
}
.name-game-form {
    text-align: center;
}
label {
    margin-top: 1.5em;
    color: #1F5C5C; /*darker teal*/
    letter-spacing: 0.1em;
}
#display-name {
    color: #339999;
    margin-top: 1.5em;
    text-align: center;
    font-size: 2em;
}

/********************************DRAW A TRUCK*/
/*CANVAS*/
canvas {
    display: block;
    width: 75%;
    margin: 1% auto;
    border: 2px solid gray;
    border-radius: 30px;
}
/*COLOR CHOICES*/
.controls ul {
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.controls ul li {
    height: 54px;
    width: 54px;
    border: 2px solid gray;
    border-radius: 60px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
}
/*COLORS*/
.black {
    background: #000;
}
.brown {
    background: #663300;
}
.yellow {
    background: #ECD13F;
}
.orange {
    background: #FF6600;
}
/*SELECTED COLOR*/
.controls .selected {
    border: 4px solid #339999;
    height: 52px;
    width: 52px;
}

/********************************ANIMATION*/

#finn-social-media img:hover {
    -webkit-transform: scale(2, 2) rotate(1turn);
    transform: rotate(1turn);
}

#finn-social-media img {
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
}
/***truck drive***/
.animate {
    height: 2.5em;
}

.street-sweeper,
.garbage-truck,
.fire-truck {
    width: 6em;
    height: 5em;
    border: none;
    position: absolute;
    left: 85%;
    bottom: 9%;
}

.street-sweeper {
    width: 6.5em;
    -webkit-animation: drive 10s linear infinite;
    animation: drive 10s linear infinite;
}

.fire-truck {
    -webkit-animation: drive 10s linear 2.25s infinite;
    animation: drive 10s linear 2.25s infinite;
}

.garbage-truck {
    -webkit-animation: drive 10s linear 4.5s infinite;
    animation: drive 10s linear 4.5s infinite;
}

@-webkit-keyframes drive {
    0% {left: 85%}
    100% {left: 5%}
}
@keyframes drive {
    0% {left: 85%}
    100% {left: 5%}
}
/********************************SOCIAL MEDIA*/
.social-media li {
    font-size: 3em;
}
.social-media a {
    color: #339999;
}