/********************************
GINNY PAGE STYLING
*********************************/

/********************************MAIN PICTURE*/
.jumbotron { 
    background-color: #990033; /*hot pink*/
    border-top: 3px solid #5C001F; /*darker pink*/
    border-bottom: 3px solid #5C001F; /*darker pink*/
}
.MainPhoto {
    border: 3px solid #5C001F; /*darker pink*/
}
/********************************FONTS*/
.list-group {
    font-size: 0.9rem;
}
/********************************COLORS*/
#imdb-link a,
h2,
h4,
.social-media-icon {
    color: #990033; /*hot pink*/
}
#games a:hover,
#websites a {
    color: #1F5C5C; /*darker teal*/
}
#games a,
#imdb-link a:hover,
#websites a:hover,
.social-media p,
.social-media-icon:hover {
    color: #5C001F; /*darker pink*/
}
/********************************MOVIE POSTERS*/
.movie-title {
    font-size: 1.5rem;
    color: #990033; /*hot pink*/;
}
.movie-details a {
    color: #1F5C5C; /*darker teal*/
}
.movie-details a:hover {
    color: #5C001F; /*darker pink*/
}
.side-a img,
.side-b {
    border: 1px solid #5C001F; /*darker pink*/
}
/********************************RECOMMENDATIONS*/
#ginny-recs img {
    width: 100px;
    height: 100px;
    border: 1px solid #5C001F; /*darker pink*/
}
