/********************************
INDEX PAGE STYLING
*********************************/

/********************************PICTURE*/
.jumbotron { 
    background: url("../img/bg/natural_green_paper_@2X.png"); /*dark green paper*/
    border-top: 3px solid #1F3D00; /*darker green*/
    border-bottom: 3px solid #1F3D00; /*darker green*/
    letter-spacing: 0.125rem;
}
.MainPhoto {
    border: 3px solid #1F3D00; /*darker green*/
}
