/********************************
KYLE PAGE STYLING
*********************************/
/********************************MAIN PICTURE*/
.jumbotron { 
    background-color: #FF6600; /*burnt orange*/
    border-top: 3px solid #993D00; /*darker orange*/
    border-bottom: 3px solid #993D00; /*darker orange*/
}
.MainPhoto {
    border: 3px solid #993D00; /*darker orange*/
}
/********************************COLORS*/
#imdb-link a,
h4,
.social-media-icon {
    color: #FF6600; /*burnt orange*/
}
h2,
#imdb-link a:hover,
.social-media p,
.social-media-icon:hover {
    color: #993D00; /*darker orange*/
}
/********************************MOVIE POSTERS*/
.movie-title {
    font-size: 1.5rem;
    color: #993D00; /*darker orange*/
}
.movie-details a {
    color: #FF6600; /*burnt orange*/
}
.movie-details a:hover {
    color: #993D00; /*darker orange*/
}
.side-a img,
.side-b {
    border: 1px solid #993D00; /*darker orange*/
}
.still-shot {
    width: 75%;
    border: 1px solid #993D00; /*darker orange*/
}
/*******************************SCRIPT SECTION*/ 
.no-show {
    height: 0;
}
.md-modal {
    position: relative;
    top: 10rem;
}
.md-modal a {
    color: #E6E6E6;
}
.md-modal ul {
    list-style: none;
}
.screenplay:hover{
    background-color: #FFE0CC; /*very light orange*/
}   
.year,
.screenplay {
    width: 140px;
    height: 200px;
    margin: 0.5% 0.5%;
    text-align: center;
    border: 1px solid #993D00;
}
.screenplay ul {
    display: none;
}
.screenplay a {
    text-decoration: underline;
}
.year {
    font-size: 2rem;
    padding-top: 70px;
    font-family: 'Muli', sans-serif;
    color: #FF6600;
}
.script_title {
    font-size: 0.85rem;
    padding-top: 40px;
    font-family: Courier;   
}
/********************************RECOMMENDATIONS*/
#kyle-recs img {
    width: 100px;
    height: 100px;
    border: 1px solid #993D00; /*darker orange*/
}