/*PHONES to iPHONES*/
@media screen and (max-width: 480px) {
	body {
		background-color: purple;
	}
	/*************************MAIN NAV*/
	.main-menu ul {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	h2 {
		font-size: 1.5em;
	}
	.social-media li {
		font-size: 1.5em;
	}
	/*************************SECTION FLEXBOX*/
	.flexbox img {
		width: 150px;
		height: 150px;
	}
	.flexbox h2 {
		font-size: 1.5em;
	}
	/*************************FINN INDEX*/
	#display-name {
		font-size: 1.5em;
	}
	#nameGenerator {
		font-size: 1.1em;
	}
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 4em;
	    height: 3em;
	    bottom: 4.5%;
	}
	/*************************KYLE INDEX*/
	/*Kyle Movies*/
	#kyle-movies {
		height: 75em;
	}
	#poster-section {
		height: 70em;
	}
	#kyle-movies ul {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.side-a img {
		width: 100%;
		height: 100%;
	}
	.card,
	.poster {
		width: 90%;
	    height: 33em;
	}
	.side-b {
		width: 90%;
		height: 33em;
        font-size: 1em;
    }
	.still-shot {
        display: none;
    }
	/*Kyle Screenplays*/
	.year {
		display: none;
	}
	.KyleScreenplays {
		margin: 5% 12%;
	}
	#overlay {
		top: 35%;
	}
	/*Kyle Recs*/
	#kyle-rec-section {
		font-size: 0.75em;
	}
	#kyle-rec-section img {
		width: 120px;
		height: 120px;
	}
}

/*iPHONES to WINDOWS PHONES*/
@media screen and (min-width: 480px) and (max-width: 768px) {
	body {
		background-color: red;
	}
	/*************************MAIN NAV*/
	.main-menu ul {
		-webkit-flex-direction: column;
		flex-direction: column;
	}	
	/*************************FINN INDEX*/
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 4em;
	    height: 3em;
	    bottom: 5%;
	}
	/*************************KYLE INDEX*/
	/*Kyle Movies*/
	#kyle-movies {
		height: 115em;
	}
	#poster-section {
		height: 110em;
	}
	#kyle-movies ul {
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	.side-a img {
		width: 100%;
		height: 100%;
	}
	.card,
	.poster {
		width: 90%;
	    height: 53em;
	}
	.side-b {
		width: 90%;
		height: 53em;
        font-size: 1em;
    }
	/*Kyle Screenplays*/
	.year {
		display: none;
	}
	.KyleScreenplays {
		margin: 1% 15%;
	}
	/*Kyle Recs*/
	#kyle-rec-section {
		font-size: 0.75em;
	}
	#kyle-rec-section img {
		width: 120px;
		height: 120px;
	}
	#overlay {
		top: 55%;
	}
}

/*TABLETS to DESKTOP*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		background-color: yellow;
	}
	/*************************FINN INDEX*/
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 5em;
	    height: 4em;
	    bottom: 7.5%;
	}
	/*************************KYLE INDEX*/
	/*Kyle Movies*/
	#kyle-movies {
		height: 50em;
	}
	#poster-section {
		height: 45em;
	}
	.side-b {
		width: 90%;
		height: 60em;
        font-size: 0.75em;
    }
	.card,
	.poster {
		width: 47%;
	}
	.side-a img {
		width: 100%;
		height: 100%;
	}
	/*Kyle Screenplay*/
	#overlay {
		top: 40%;
	}
}

/*SMALL to LARGE DESKTOP*/
@media screen and (min-width: 1300px) {
	body {
		background-color: green;
	}
}