/*PHONES to iPHONES*/
@media screen and (max-width: 480px) {
	body {
		background-color: purple;
	}
	/*************************MAIN NAV*/
	.main-menu ul {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	h2 {
		font-size: 1.5em;
	}
	.social-media li {
		font-size: 1.5em;
	}
	/*************************SECTION FLEXBOX*/
	.flexbox img {
		width: 150px;
		height: 150px;
	}
	.flexbox h2 {
		font-size: 1.5em;
	}
	/*************************FINN INDEX*/
	#display-name {
		font-size: 1.5em;
	}
	#nameGenerator {
		font-size: 1.1em;
	}
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 4em;
	    height: 3em;
	    bottom: 4.5%;
	}
	/*************************KYLE INDEX*/
	#kyle-movies {
		height: 30%;
	}
	.card,
	#poster-section,
	.side-a img {
		height: 20em;
	}
	.side-b {
		height: 28em;
		font-size: 0.75em;
	}
	.still-shot {
		display: none;
	}
	.year {
		display: none;
	}
	.KyleScreenplays {
		margin: 5% 12%;
	}
	#kyle-rec-section {
		font-size: 0.75em;
	}
	#kyle-rec-section img {
		width: 120px;
		height: 120px;
	}
}

/*iPHONES to WINDOWS PHONES*/
@media screen and (min-width: 480px) and (max-width: 768px) {
	body {
		background-color: red;
	}
	/*************************MAIN NAV*/
	.main-menu ul {
		-webkit-flex-direction: column;
		flex-direction: column;
	}	
	/*************************FINN INDEX*/
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 4em;
	    height: 3em;
	    bottom: 5%;
	}
	/*************************KYLE INDEX*/
	.card,
	#poster-section,
	.side-a img {
		height: 30em;
	}
	.side-a img {
		width: 100%;
	}
	.side-b {
		height: 30em;
	}
	.still-shot {
		display: none;
	}
	.year {
		display: none;
	}
	.KyleScreenplays {
		margin: 1% 15%;
	}
	#kyle-rec-section {
		font-size: 0.75em;
	}
	#kyle-rec-section img {
		width: 120px;
		height: 120px;
	}
}

/*TABLETS to DESKTOP*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		background-color: yellow;
	}
	/*************************FINN INDEX*/
	.street-sweeper,
	.garbage-truck,
	.fire-truck {
	    width: 5em;
	    height: 4em;
	    bottom: 7.5%;
	}
}

/*SMALL to LARGE DESKTOP*/
@media screen and (min-width: 1300px) {
	body {
		background-color: green;
	}
}