/********************************
JUMBOTRON
*********************************/
h1 {
    color: white;
}
/********************************
NAVIGATION
*********************************/
.left{
    background-color: #FF6600; /*burnt orange*/
    border: 2px solid #993D00; /*darker orange*/
}
.center {
    background-color: #990033; /*hot pink*/
    border: 2px solid #5C001F; /*darker pink*/
}
.right {
    background-color: #339999; /*teal*/
    border: 2px solid #1F5C5C; /*darker teal*/
}

#main-nav .col-md {
    border-radius: 30px;
    letter-spacing: 0.125rem;
}
#main-nav a {
    color: white;
}
#main-nav a:hover {
    color: #E6E6E6;
}
/********************************
HEADERS
*********************************/
h2 {
    border: 1px solid gray;
    border-radius: 30px;
    letter-spacing: 0.25rem;
}
/********************************
MOVIE POSTERS
*********************************/
.d-flex {
    justify-content: center;
}
.movie-details {
    list-style: none;
}
/******MOVIE POSTER ANIMATION****************/
.card-container {
    perspective: 1000px;
}
.card-container:hover .flipper, .card-container.hover .flipper {
    transform: rotateY(180deg);
}
.card-container, .side-a, .side-b {
    width: 320px;
    height: 480px;
}
.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
}
.side-a, .side-b {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.side-a {
    z-index: 2;
    transform: rotateY(0deg);
}
.side-b {
    transform: rotateY(180deg);
}
/********************************
SOCIAL MEDIA ICONS
*********************************/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?dg84my');
    src:    url('../fonts/icomoon.eot?dg84my#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?dg84my') format('truetype'),
        url('../fonts/icomoon.woff?dg84my') format('woff'),
        url('../fonts/icomoon.svg?dg84my#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-video-camera:before {
    content: "\e914";
}
.icon-binoculars:before {
    content: "\e985";
}
.icon-cool:before {
    content: "\e9eb";
}
.icon-mail4:before {
    content: "\ea86";
}
.icon-google3:before {
    content: "\ea8a";
}
.icon-google-plus3:before {
    content: "\ea8d";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-pinterest:before {
    content: "\ead1";
}
.icon-git:before {
    content: "\eae7";
}
.social-media-icon {
    font-size: 1.25rem;
}
/********************************
FOOTER
*********************************/
#home-link {
    color: #999;
}
